@font-face {
  font-family: Bicubik;
  src: url(../assets/fonts/Bicubik.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: KdamThmorPro;
  src: url(../assets/fonts/KdamThmorPro-Regular.ttf);
}

@font-face {
  font-family: Motserrat;
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

.productTitle {
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricesFont {
  font-family: KdamThmorPro;
}

.largeText {
  font-size: 28px;
}

.mediumText {
  font-size: 24px;
}

.mutedText {
  color: gray;
  font-family: Montserrat;
  font-size: 12px;
}

.drawerTrigger {
  color: black;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
}

.pageNotFoundText {
  color: gray;
  font-family: Montserrat;
  text-align: center;
}

.text404 {
  font-size: 72px;
  font-weight: bold;
  font-family: "Arial";
  line-height: 1;
}

@media screen and (min-width: 480px) {
  .text404 {
    font-size: 150px;
  }

  .largeText {
    font-size: 36px;
  }
}
